# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Log files
*.log
barbarik_api.log

#tests
tests/

# Plot files
plots/
*.png

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover